* {
  box-sizing: border-box;
}

.background-container {
  display: flex;
  justify-content: center;
  align-content: center;

  &-video {
    margin: 40px;
    position: fixed;
    border-radius: 20px;
  }
}

.container-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  flex-wrap: wrap;

  &-btn {
    margin: 6px;
    font-size: 20px;
    color: darkgreen;
    font-family: monospace;
    height: 60px;
    width: 200px;
  }
}

