<body
  background="assets/1000_F_180829724_YxHOabb3Gkt4uPQCjA4hsH097kjrSM9r.jpeg"
  style="
  background-position:50% 50%;
  height:50em;
  background-size:cover;
  width:auto;">
<div class="container">
  <div class="container-box">
    <h1>Kelner został poinformowany.</h1>
    <h2>Za chwilę będzie przy twoim stoliku.</h2>
    <div class="container-box-img">
      <img src="assets/pobrane.png">
    </div>
    <h3>Dziekujemy za cierpliwosc.</h3>
    <p>Możesz wrócić do głównego menu</p>
    <p>by złożyć zamówienie online.</p>
    <div class="container-box-btn">
      <button class="container-box-btn-text"
              (click)="backHome()"
              mat-stroked-button
              color="warn">Powrót
      </button>
    </div>
  </div>
</div>
