<body
  background="assets/1000_F_180829724_YxHOabb3Gkt4uPQCjA4hsH097kjrSM9r.jpeg"
  style="
  background-position:50% 50%;
  height:60em;
  background-size:cover;
  width:auto;">
<div class="container">
  <form class="container-form" [formGroup]="form">
    <div>
      <h1>Podaj Dane:</h1>
    </div>
    <div>
      <div class="container-form-label">
        <label>Wpisz Imię:</label>
      </div>
      <div class="container-form-input">
        <input
          class="container-form-input-text"
          type="text"
          formControlName="name">
      </div>
      <div class="container-form-label">
        <label>Wpisz Nazwisko:</label>
      </div>
      <div class="container-form-input">
        <input
          class="container-form-input-text"
          type="text"
          formControlName="surname"/>
      </div>
      <div class="container-form-label">
        <label>Wpisz numer telefonu:</label>
      </div>
      <div class="container-form-input">
        <input
          class="container-form-input-text"
          type="tel"
          formControlName="phone"/>
      </div>
      <div class="container-form-label">
        <label>Wybierz datę odbioru:</label>
      </div>
      <div class="container-form-input">
        <input
          class="container-form-input-text"
          type="datetime-local"
          formControlName="data"/>
      </div>
      <div class="container-form-tittle2">
        <h2>Wybierz Tort:</h2>
      </div>
      <div class="container-form-label">
        <label>Wybierz Biszkopt:</label>
      </div>
      <div class="container-form-input">
        <select
          class="container-form-input-text"
          formControlName="cake">
          <option value="Jasnny biszkopt">Jasnny biszkopt</option>
          <option value="Ciemnnt Biszkopt">Ciemnnt Biszkopt</option>
        </select>
      </div>
      <div class="container-form-label">
        <label>Wybierz krem:</label>
      </div>
      <div class="container-form-input">
        <select
          class="container-form-input-text"
          formControlName="cream">
          <option value="krem truskawka">truskawka</option>
          <option value="kawowy krem">kawowy</option>
          <option value="malinowy">malinowy</option>
          <option value="smietankowy">smietankowy</option>
        </select>
      </div>
      <div class="container-form-label">
        <label>Wybierz dodatki:</label>
      </div>
      <div class="container-form-input">
        <select
          class="container-form-input-text"
          formControlName="topping">
          <option value="Swieże owoce">Swieże owoce</option>
          <option value="Dekoracja z czekolady">Dekoracja z czekolady</option>
        </select>
      </div>
      <div class="container-form-label">
        <label>Wybierz Rozmiar:</label>
      </div>
      <div class="container-form-input">
        <select
          class="container-form-input-text"
          formControlName="size">
          <option value="Duzy">Duzy</option>
          <option value="Sredni">Sredni</option>
          <option value="Maly">Maly</option>
        </select>
      </div>
      <div class="container-form-label">
        <label>Wpisz swoje uwagi:</label>
      </div>
      <div class="container-form-input">
        <textarea
          class="container-form-input-textarea"
          type="textarea"
          formControlName="orderTextInfo"></textarea>
      </div>
    </div>
    <div class="container-form-btn">
      <button
        class="container-form-btn-text"
        (click)="sendForm()"
        mat-stroked-button
        color="warn">Zamow online
      </button>
    </div>
  </form>
</div>
<div class="container-box-1">
  <button class="container-box-1-btn"
          (click)="resetForm()"
          mat-stroked-button
          color="warn">Resetuj Zamówiennie
  </button>
</div>
<div class="container-box-2">
  <button class="container-box-2-btn"
          (click)="backHome()"
          mat-stroked-button
          color="warn">Powrót
  </button>
</div>
