<body
  background="assets/1000_F_180829724_YxHOabb3Gkt4uPQCjA4hsH097kjrSM9r.jpeg"
  style="
  background-position:50% 50%;
  height:60em;
  background-size:cover;
  width:auto;">
  <div style="display: flex; justify-content: center">
    <form style="
    opacity: 0.9;
    margin-top: 40px;
    padding: 20px;
    border-radius: 20px;
    border:2px dotted lightgray;
    text-align: center;
    width: 350px;
    font-family: system-ui;
    background-color: aliceblue;
    color: darkslategray" [formGroup]="form">
      <div style="text-align: center;">
        <h1>Podaj Dane:</h1>
      </div>
      <div>
        <div style="display: flex; justify-content: center">
          <label>Wpisz Imię:</label>
        </div>
        <div style="display: flex; justify-content: center">
          <input style="width: 170px;" type="text" formControlName="name">
        </div>
        <div style="display: flex; justify-content: center">
          <label>Wpisz Nazwisko:</label>
        </div>
        <div style="display: flex; justify-content: center">
          <input style="width: 170px;" type="text" formControlName="surname"/>
        </div>
        <div style="display: flex; justify-content: center">
          <label>Wpisz numer telefonu:</label>
        </div>
        <div style="display: flex; justify-content: center">
          <input style="width: 170px;" type="tel" formControlName="phone"/>
        </div>
        <div style="display: flex; justify-content: center">
          <label>Wybierz datę odbioru:</label>
        </div>
        <div style="display: flex; justify-content: center">
          <input style="width: 170px;" type="datetime-local" formControlName="data"/>
        </div>
        <div style="text-align: center;margin: 0;padding-top: 10px">
          <h2>Wybierz Tort:</h2>
        </div>
        <div style="display: flex; justify-content: center">
          <label>Wybierz Biszkopt:</label>
        </div>
        <div style="display: flex; justify-content: center">
          <select style="width: 170px;" formControlName="cake">
            <option value="Jasnny biszkopt">Jasnny biszkopt</option>
            <option value="Ciemnnt Biszkopt">Ciemnnt Biszkopt</option>
          </select>
        </div>
        <div style="display: flex; justify-content: center">
          <label>Wybierz krem:</label>
        </div>
        <div style="display: flex; justify-content: center">
          <select style="width: 170px;" formControlName="cream">
            <option value="krem truskawka">truskawka</option>
            <option value="kawowy krem">kawowy</option>
            <option value="malinowy">malinowy</option>
            <option value="smietankowy">smietankowy</option>
          </select>
        </div>
        <div style="display: flex; justify-content: center">
          <label>Wybierz dodatki:</label>
        </div>
        <div style="display: flex; justify-content: center">
          <select style="width: 170px;" formControlName="topping">
            <option value="Swieże owoce">Swieże owoce</option>
            <option value="Dekoracja z czekolady">Dekoracja z czekolady</option>
          </select>
        </div>
        <div style="display: flex; justify-content: center">
          <label>Wybierz Rozmiar:</label>
        </div>
        <div style="display: flex; justify-content: center">
          <select style="width: 170px;" formControlName="size">
            <option value="Duzy">Duzy</option>
            <option value="Sredni">Sredni</option>
            <option value="Maly">Maly</option>
          </select>
        </div>
        <div style="display: flex; justify-content: center">
          <label>Wpisz swoje uwagi:</label>
        </div>
        <div style="display: flex; justify-content: center">
          <textarea style="width: 170px;height: 50px" type="textarea" formControlName="orderTextInfo"></textarea>
        </div>
      </div>
      <div style="display: flex; justify-content: center">
        <button style="width: 200px;
            margin: 6px;
            font-size: 20px;
            color: darkgreen;
            font-family: monospace;
            height: 60px;" (click)="sendForm()" mat-stroked-button color="warn">Zamow online
        </button>
      </div>
    </form>
  </div>
  <div style="display: flex; justify-content: center">
    <button style="
            margin: 6px;
            font-size: 20px;
            color: black;
            font-family: monospace;
            height: 60px;" (click)="resetForm()" mat-stroked-button color="warn">Resetuj Zamówiennie
    </button>
  </div>
  <div style="display: flex; justify-content: center">
    <button style="
            margin: 6px;
            font-size: 20px;
            color: black;
            font-family: monospace;
            height: 60px;" (click)="backHome()" mat-stroked-button color="warn">Powrót
    </button>
  </div>
