<body
  background="assets/1000_F_180829724_YxHOabb3Gkt4uPQCjA4hsH097kjrSM9r.jpeg"
  style="
  background-position:50% 50%;
  height:auto;
  min-height: 700px;
  background-size:cover;
  width:auto;">
<div class="container">
  <div class="container-box">
    <div class="container-box-tittle">
      <h1>Koszyk:</h1>
    </div>
    <div class="container-box-item">
      <div class="container-box-item-product"
           *ngFor="let item of shoppingBagItems let i = index">
        <h2>{{item.name}}</h2>
        <h3>{{item.price}}zł/szt</h3>
        <button class="container-box-item-product-btn"
                (click)="deleteItem(i)"
                mat-stroked-button
                color="warn">Usuń
        </button>
      </div>
    </div>
    <div class="container-box-1">
      <button class="container-box-1-btn"
              (click)="goCheckout()"
              mat-stroked-button
              color="warn">Wyślij Zamówienie
      </button>
    </div>
    <div class="container-box-2">
      <button class="container-box-2-btn"
              (click)="backMenu()"
              mat-stroked-button
              color="warn">
        Powrót
      </button>
    </div>
  </div>
</div>

