<body
  background="assets/1000_F_180829724_YxHOabb3Gkt4uPQCjA4hsH097kjrSM9r.jpeg"
  style="
  background-position:50% 50%;
  height:50em;
  background-size:cover;
  width:auto;">
<div class="container">
  <div class="container-box">
    <h1>Dziekujemy za złozenie zamowienia.</h1>
    <img class="container-img" src="assets/pobrane.png">
    <p>Poinformujemy cie wiadomością SMS gdy</p>
    <p>zamowienie będzie gotowe.</p>
    <div class="container-btn-box">
      <button
        class="container-btn-box-btn"
        (click)="backHome()"
        mat-stroked-button
        color="warn">
        Powrót
      </button>
    </div>
  </div>
</div>
