<body
  background="assets/abstract-pink-modern-shapes-background_32996-1063.webp"
  style="
  background-position:50% 50%;
  height:auto;
  background-size:cover;
  width:auto;">
<div class="container">
  <div *ngFor="let menu of menus let i = index" class="card">
    <div class="card-container">
      <div class="card-name">
        <h1>{{menu.name}}</h1>
      </div>
      <div class="card-img">
        <img src="{{menu.img}}" alt="{{menu.alt}}">
      </div>
      <div class="card-price">
        <h2>{{menu.price}}zł</h2>
      </div>
      <div class="card-btn">
        <button
          (click)="addToBasket(i)"
          mat-stroked-button
          color="warn">
          <h3>{{menu.btnVal}}</h3>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container-box-1">
  <button
    class="container-box-1-btn"
    (click)="goStore()"
    mat-stroked-button
    color="warn">
    Idz do koszyka
  </button>
</div>
<div class="container-box-2">
  <button
    class="container-box-2-btn"
    (click)="backHome()"
    mat-stroked-button
    color="warn">
    Powrót
  </button>
</div>
