* {
  box-sizing: border-box;
}

.card {
  //border: 1px solid lightgray;
  //border-radius: 20px;
  //width: 320px;

  &-container {
    padding: 12px 0;
    text-align: center;
  }

  .card-name {
    display: flex;
    justify-content: center;
    padding: 6px 0;
  }

  .card-img {
    display: flex;
    justify-content: center;
    padding: 6px 0;
  }

  .card-price {
    display: flex;
    justify-content: center;
    padding: 6px 0;
    color: blue;
  }

  .card-btn {
    display: flex;
    justify-content: center;
    padding: 6px 0;
  }
}
