<button (click)="backHome()" mat-stroked-button color="basic">Cukiernia Marek Górka</button>
<div *ngFor="let menu of menus let i = index" class="card">
  <div class="card-container">
    <div class="card-name">
      <p>{{menu.name}}</p>
    </div>
    <div class="card-img">
      <img style="height: 150px; width: 150px;border-radius: 25px;" src="{{menu.img}}" alt="{{menu.alt}}">
    </div>
    <div class="card-price">
      <p>{{menu.price}}zł</p>
    </div>
    <div class="card-btn">
      <button (click)="addToBasket(i);" mat-stroked-button color="warn">
        {{menu.btnVal}}
      </button>
    </div>
  </div>
</div>

<button (click)="backHome()" mat-stroked-button color="warn">Powrot</button>
<button (click)="goStore()" mat-stroked-button color="warn">Idz do koszyka</button>
